html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
 z-index: 20px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;

  height: 100%;
  object-fit: cover;
}


body {
  background-image: url("Gambar/motif3.jpg");
  color: #8d5f14;
  background-size: cover;
  background-position: center;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background: transparent;
 
}

.thumb-slide{
  background-color: #e4ebe1;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: 5px solid #ca881d;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}  


.pic-wrpper{
  margin-top: -50px;
  height: 450px;
  width: 80%;
  background-color: #e4ebe1;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  border: 5px solid #ca881d;
  color: #ca881d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  
}

.pic-wrpper img{
  height: 300px;
}

.pic-wrpper h1{
  padding: 10px;
  font-weight: bolder;
}

.mySwiper2 {
  height: 80%;
  width: 100%;

}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}



.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 1;
}

.detail-field {
  width: 100%;
  height: 95%;
  padding: 0 100px 0 100px;


}

.detail-show {

  height: 92%;
  background-color: #FAEAB1;
  width: 90%;
  border-radius: 20px;
  border: 5px solid #ca881d;
}

.detail-part-1 {

  height: 42%;

  width: 100%;
  padding-top: 30px;

}

.detail-part-2 {
  font-size: 18px;
  padding: 20px;
  height: 50%;
  margin: 0;
  background-color: #FAEAB1;
  width: 100%;
  border-radius: 20px;
  border: 5px solid #ca881d;
  overflow-x: hidden;
  overflow-y: auto;

}

.detail-part-1-left {
  height: 190px;
  background-color: #FAEAB1;
  border-radius: 20px;
  border: 5px solid #ca881d;
}

.detail-part-1-right {
  height: 190px;
  background-color: #FAEAB1;
  border-radius: 20px;
  border: 5px solid #ca881d;
  padding: 20px;
}


.logo-left {
  position: relative;
  float: left;
  height: 0;
  z-index: 10;


}
.logo-left img{
  height: 70px;
  top: 0;
  filter: drop-shadow(10px 5px 10px #000000);
  padding: 10px;

}



#loader {
  background-image: url("Gambar/motif3.jpg");
  border: 12px solid #FAEAB1;
  border-radius: 50%;
  border-top: 12px solid #ca881d;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center-load {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.inp {
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ca881d;
  padding: 5px 10px;
  outline: none;
  font-weight: bold;
  font-size: 20px;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 1;
}

footer {
  height: 5%;
  color: white;
}

.footer-mini {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  height: 100%;
  background: #8d5f14;
  border-radius: 10px;
  margin-bottom: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.top-part {
  height: 90%;
}

.bottom-part {
  margin-top: 20px;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

}

textarea {
  background: none;
  border: none;
}

.wrap-silde-content img {
  justify-content: center;
  align-items: center;
}